/* --Varibles-- */
:root {
  --grey-font: rgb(0, 0, 0, 0.6);
  --violet-light: rgb(84, 48, 106, 0.8);
}

/* --Varibles-- */

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--grey-font);
  margin-top: 20px;
  padding: 0;
}
/* --header-- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
header .logo-nav {
  display: flex;
  align-items: center;
  margin: 0;
}
header .logo-nav figure {
  margin-left: 0px;
}
nav ol {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ol li a {
  text-decoration: none;
  padding: 20px;
  color: var(--grey-font);
  font-size: 18px;
}

header .mood-contact {
  display: flex;
  align-items: center;
}
header .mood .mood-button {
  border-radius: 15px;
  border: 1px solid var(--grey-font);
  height: 20px;
  width: 45px;
  font-size: 1em;
  color: var(--violet-light);
  background-color: transparent;
  cursor: pointer;

  margin-left: 50px;
  margin-right: 50px;
}
header .contact button {
  border-radius: 15px;
  border: 2px solid var(--violet-light);
  height: 30px;
  width: 100px;
  font-size: 1em;
  color: var(--violet-light);
  background-color: transparent;
  cursor: pointer;
}
/* --header-- */
/* --main- */
main {
  margin: 0px, 70px, 0px, 70px;
}
main .hero {
  display: grid;

  grid-template: 500px 50px 50px / repeat(2, 1fr);
  height: 650px;
  align-items: center;
}
main .hero h1 {
  color: var(--violet-light);
  line-height: 55px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  /* padding-bottom: 50px; */
}
main .hero-text2 {
  grid-row: 2;
  grid-column: 2 span;
  text-align: center;
}
main .hero-text2 p {
  font-size: 18px;
  margin: 0;
}
main .hero-arrows {
  grid-row: 3;
  grid-column: 2 span;
  text-align: center;
}
main .hero-arrows img {
  height: 30px;
  width: 36px;
}
/* main .skills-title,
.projects-title h2 {
  font-size: 20px;
} */
main h2 {
  font-size: 24px;
}
main .skills,
h1 {
  color: var(--violet-light);
  text-align: center;
  font-size: 30px;
}
main h3,
p,
figure {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: var(--grey-font);
}
main figure {
  margin-top: 50px;
  margin-bottom: 40px;
}
main .skills img {
  height: 80px;
  width: 80px;
}
main .skills-square {
  /* padding-top: 20px; */
  display: grid;
  grid-template-columns: 450px 450px;
  justify-content: center;
}
main .skills-front {
  /* border: 1px solid var(--grey-font); */
  height: 450px;
}
main .projects-1 {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(1, 200px);
  gap: 50px;
  justify-content: center;
  margin-top: 60px;
}
main .project {
  border: 1px solid var(--grey-font);
  border-radius: 30px;
}
main .projects button {
  display: none;
}
main .project img {
  /* border: 1px solid /red; */
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
main .projects-2 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(1, 200px);
  gap: 50px;
  justify-content: center;
}
main .work {
  padding-top: 70px;
  padding-bottom: 40px;
}
main .work-button {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
main .work button {
  border-radius: 15px;
  border: 2px solid var(--violet-light);
  height: 35px;
  width: 170px;
  font-size: 1em;
  color: var(--violet-light);
  background-color: transparent;
  cursor: pointer;
}
footer {
  background-color: rgb(13, 12, 31, 0.9);
  /* display: 20px; */
  height: 150px;
  width: 100%;
  margin: 0;
}
footer .social-media {
  display: flex;
  justify-content: center;
}
footer img {
  height: 60px;
  width: 60px;
  padding: 30px;
}
footer .done {
  width: 100%;
  text-align: center;
}
footer span {
  color: rgb(254, 235, 235, 1);
  font-size: 12px;
}
